{% extends 'base.html' %}

{% block content %}
<form method="POST" enctype="multipart/form-data">{% csrf_token %}
  <!-- <p>title:<input type="text" name="title" required id="id_title"></p>
  <p>content:<input type="text" name="content"required id="id_content"></p>
  <input type="hidden" name="author" valu="{{ user.username }}" required id="id_author">
  <p><input type="file" name="sns_image"required id="id_sns_image"></p> -->
  
  {{ form.as_p }}
  <input type="submit" value="create"> 
</form>

{% endblock content %}